.main-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-bottom: 10px;
}

.workout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  color: white;
  background-color: rgb(147 197 253);
  padding: 10px;
  opacity: 0.8;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
}

.workout-image {
  margin: 0 auto;
  contain: content;
  border-radius: 10px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: center;
  justify-content: center;
  background-color: rgb(147 197 253);
  padding: 10px;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
}

.calendar-text,
.today-workout {
  font: 600 22px sans-serif;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.start-workout {
  margin-top: 15px;
  height: 40px;
  background-color: #3b82f6;
  transition: 0.3s;
}

.start-workout:hover {
  background-color: rgb(254 202 202);
}

.main-description {
  max-width: 60%;
  margin: 0 auto 150px;
  border-radius: 10px;
  padding-top: 20px;
  font: 600 44px sans-serif;
  color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  justify-content: center;
}

.main-description h3 {
  font: 500 20px sans-serif;
  margin-bottom: 30px;
}