.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click-area {
  width: 100%;
  height: 65vh;
  /* background-color: yellow; */
}

.click-area_red {
  width: 100%;
  height: 65vh;
  /* background-color: red; */
}

.click-area_green {
  width: 100%;
  height: 65vh;
  /* background-color: rgb(14, 228, 14); */
}

.green-label {
  color: rgb(14, 228, 14);
}

.time-container {
  display: flex;
}