.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.click-area {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.click-area_red {
  width: 100%;
  height: 65vh;
  /* background-color: red; */
}

.click-area_green {
  width: 100%;
  height: 65vh;
  /* background-color: rgb(14, 228, 14); */
}

.green-label {
  color: rgb(75, 219, 106)
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 500 52px "Fira Sans", sans-serif;
  text-align: center;
  color: white;
}

.time-container h1 {
  color: black;
  margin-bottom: 40px;
}

.time-container h2 {
  width: 80%;
  margin-bottom: 60px;
}

.time-container h3 {
  font-size: 22px;
}

.click-text {
  font: 500 52px sans-serif;
  color: white;
}

.small-text {
  margin-top: 20px;
  font: 500 22px sans-serif;
  color: white;
}