.finish-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(59, 130, 246, 0.5);
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 0.75rem;
}

.finish-game-name {
  font-size: 52px;
}

.button-start-finished {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232 171 66);
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.finish-game-score {
  font-size: 22px;
}
