.correct {
  font-weight: 800;
  color: green;
  background-color: black;
}

.incorrect {
  font-weight: 800;
  color: red;
  /* background-color: black; */
}

.active {
  font-weight: 800;   
  /* color: red; 
  color: blue; */
}