.calendar {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(26, 79, 63);
  border-radius: 10px;
}

.table {
  max-width: 100%;
  width: 300px;
  table-layout: fixed;
}

.year {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

/* .change-period {
  border: solid 1px gray;
} */
.change-period:hover {
  cursor: pointer;
}

.table-calendar {
  padding: 5px;
}

.month {
  align-self: center;
}

.days-of-week-row {
  margin-bottom: 2px;
}
.day-of-week {
  /* width: 10%; */
  width: 14%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}
.days-row {
  height: 42px;
  /* padding: 5px; */
}

.every-day {
  box-sizing: border-box;
  width: 14%;
  height: 14%;
  text-align: center;
  padding: 5px;
  /* border: solid 1px black; */
  background-color: white;
  border-radius: 50%;
}

.active-date {
  background-color: aquamarine;
}

.not-active {
  background-color: gray;
}
