.right-now {
  -webkit-animation: pulsing 1s infinite;
  animation: pulsing 1s infinite;
}

/* .right-now:hover {
  width: 100px;
  height: 70px;
  background-color: rgb(43, 156, 83);
}*/

.wrong-now {
  transition-property: background-color;
  transition-duration: 2s;
}

.wrong-now:hover {
  /* width: 100px; */
  /* height: 70px; */
  background-color: rgb(214, 57, 57);
}

/* .c {
  background: green;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
} */

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
}

.head-game {
  margin: 50px auto;
}

.color-match__container {
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
  border-radius: 10px;
}